.part-one-container{
  background-color: rgb(247, 243, 239);
}
.title-font{
  font-family: optima lt std;
    color: rgb(63, 56, 37);
    font-size: x-large;
}
.title-logo{
  width: 50px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
}
